<!DOCTYPE html>
<html lang="en">

<head>
    <title>Module 01</title>
    <link rel="StyleSheet" href="./content/compile_css/lab-flex.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <div class="logo">LOGO</div>
        <div class="lemoncode">LEMONCODE</div>
        <div class="user">USER</div>
    </header>
    <div id="main">
    </div>
    <footer>
        <nav>
            <ul>
                <li>BUSINESS</li>
                <li>CULTURE</li>
                <li>GEAR</li>
                <li>IDEAS</li>
                <li>SCIENCE</li>
                <li>SECURITY</li>
                <li>TRANSPORTATION</li>
            </ul>
        </nav>
    </footer>
</body>

</html>