<!DOCTYPE html>
<html lang="en">

<head>
    <title>Module 01</title>
    <link rel="StyleSheet" href="./content/compile_css/lab-flex.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <div class="logo">LOGO</div>
        <div class="lemoncode">LEMONCODE</div>
        <div class="user">USER</div>
    </header>
    <div id="main">
        <aside>
            <ul>
                <li>Home</li>
                <li>News</li>
                <li>Articles</li>
                <li>Contact</li>
            </ul>
        </aside>
        <article>
            <h1>HTML Ipsum Presents</h1>

            <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis
                egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
                sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em>
            </p>

        </article>
    </div>
    <footer>
        <nav>
            <ul>
                <li>BUSINESS</li>
                <li>CULTURE</li>
                <li>GEAR</li>
                <li>IDEAS</li>
                <li>SCIENCE</li>
                <li>SECURITY</li>
                <li>TRANSPORTATION</li>
            </ul>
        </nav>
    </footer>
</body>

</html>