<html lang="en">

<head>
    <title>Module 01</title>
    <link rel="StyleSheet" href="./content/compile_css/lab-grid.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="main-display">
        <main class="main-content">
            <header class="header">
                <div><a href="https://css-tricks.com">CSS Tricks</a></div>
                <div><a href="https://www.w3.org/">W3C</a></div>
                <div><a href="http://cssinjs.org/">JSS</a></div>
            </header>
            <aside class="contentA">
                Content A
            </aside>
            <aside class="contentB">
                Content B
            </aside>
        </main>
    </div>
</body>

</html>