<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lab 2</title>
    <link rel="StyleSheet" href="../../../content/compile_css/lab-2.css" type="text/css" />
</head>

<body>
    <div class="main-display">
        <div class="box radius baseColor">Base</div>
        <div class="box radius importantColor">Important</div>
        <div class="box radius warningColor">Warning</div>
        <p class="mainFont">Principal font</p>
        <p class="secondaryFont">Secondary font</p>
        <div class="box radius shadow">Box with shadow</div>
    </div>
</body>

</html>