.baseColor {
  background-color: #ff0000; }

.importantColor {
  background-color: #660000; }

.warningColor {
  background-color: #ffc0cb; }

.mainFont {
  font-family: Arial, Helvetica, sans-serif; }

.secondaryFont {
  font-family: monospace; }

.radius {
  border-radius: 0px; }

.shadow {
  box-shadow: -15px 15px 20px rgba(0, 0, 0, 0.7); }
