@import "https://fonts.googleapis.com/css?family=Raleway";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

* {
  box-sizing: border-box; }

body {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  flex-direction: column; }

#main {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row; }

header {
  display: flex;
  background: #ffc0cb;
  height: 20px; }

.logo {
  flex-grow: 1;
  padding-left: 15px; }

.lemoncode {
  flex-grow: 2;
  text-align: center; }

.user {
  flex-grow: 1;
  text-align: right;
  padding-right: 15px; }

nav {
  display: flex;
  flex: 1; }

ul {
  display: flex;
  justify-content: space-evenly;
  height: 15px;
  width: 100%;
  list-style: none; }

li {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.5rem;
  border: 2px solid #d3d3d3;
  color: #666;
  cursor: pointer;
  line-height: 15px;
  text-align: center;
  width: 100%;
  padding: 0 5px; }

@media screen and (max-width: 335px) {
  .lemoncode {
    display: none; }
  #main {
    flex: 1; }
  li {
    font-size: 2.3vw; } }
