@mixin setColor($colorSlug, $baseColor) {
  // Darker colors
  @for $i from 4 through 1 {
    .#{$colorSlug}#{$i} {
      background-color: darken($baseColor, $i * 10%);
    }
    .#{$colorSlug}#{$i}::after {
      content: "Darken " + $i;
    }
  }

  // Base color
  .#{$colorSlug} {
    background-color: $baseColor;
  }
  .#{$colorSlug}::after {
    content: "Base color";
  }

  // Lighter colors
  @for $i from 1 through 4 {
    .#{$colorSlug}-#{$i} {
      background-color: lighten($baseColor, $i * 10%);
    }
    .#{$colorSlug}-#{$i}::after {
      content: "Lighten " + $i;
    }
  }
}
