@import "https://fonts.googleapis.com/css?family=Raleway";

@import "init";
@import "layout";
@import "colors";
@import "mixins";

body {
  font-family: "Raleway", sans-serif;
  color: white;
}

.labmenu {
  margin: 40px;
}

.main {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: minmax(200px, 1fr) 200px 200px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: slategray;
  color: white;
  border-radius: 5px;
  padding: 20px;
  font-size: 2em;
}

.clickable {
  cursor: pointer;
}

// Lab 1
.reds,
.greens,
.blues {
  @include base-layout;

  line-height: 200px;
  text-align: center;
}

@include setColor("red", $redColor);
@include setColor("green", $greenColor);
@include setColor("blue", $blueColor);

// Lab 2
