@import "init";

body {
  font-family: "Raleway", sans-serif;
  color: white;
  background-color: white;
  margin: 40px;
}

.main {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: minmax(200px, 1fr) 200px 200px 200px;
}

.box {
  background-color: slategray;
  border-radius: 5px;
  padding: 20px;
  font-size: 2em;
}

.clickable {
  cursor: pointer;
}
