<mat-toolbar color="primary">Github's members directory</mat-toolbar>
<div class="tableInput">
  <mat-form-field class="searchField">
    <input matInput type="text" placeholder="Organization name" [(ngModel)]="orgName" />
  </mat-form-field>
  <mat-form-field class="pageLimitSelector">
    <mat-select
      placeholder="Rows per page"
      [(value)]="pageLimitOption"
      (selectionChange)="handlePageLimitChange($event)"
    >
      <mat-option value="pageLimit5">5</mat-option>
      <mat-option value="pageLimit10">10</mat-option>
      <mat-option value="pageLimit15">15</mat-option>
      <mat-option value="pageLimit20">20</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="loadOrganization()">LOAD</button>
    <button mat-raised-button color="warn" (click)="resetMembers()" class="resetButtonPadding">RESET</button>
  </div>
</div>

<app-member-row
  [apiResponse]="apiResponse"
  [pageLimit]="pageLimit"
  (handlePagingEmitter)="handlePaging($event)"
></app-member-row>
