<div
  *ngFor="
    let member of (apiResponse.members
      | paginate: { itemsPerPage: pageLimit, currentPage: page, totalItems: apiResponse.pagesCount * pageLimit })
  "
>
  <mat-list>
    <mat-card class="memberCard" (click)="openURL(member.html_url)">
      <mat-list-item>
        <img matListAvatar src="{{ member.avatar_url }}" alt="{{ member.login }}" />
        <h3 matLine>{{ member.login }}</h3>
      </mat-list-item>
    </mat-card>
  </mat-list>
</div>
<div class="paginatorBlock" *ngIf="apiResponse.pagesCount > 1">
  <pagination-controls
    class="paginator"
    (pageChange)="handlePaging($event)"
    previousLabel=""
    nextLabel=""
    maxSize="5"
  ></pagination-controls>
</div>
